<h1>Number Tracing</h1>

<div class="number-tracing">
    <div id="number" class="carousel-slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#number" data-slide-to="0" class="active"></li>
          <li data-target="#number" data-slide-to="1"></li>
          <li data-target="#number" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/numbers_carousel/tracing_one_1.jpg" alt="Write number one by tracing the bumblebee" width="600" height="800">
            <div class="carousel-caption">
              <h3>Tracing numbers</h3>
              <p>Press the arrow and start tracing the bumblebee!</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/numbers_carousel/tracing_one_2.jpg" alt="Write number one by tracing the bumblebee" width="600" height="800">
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/numbers_carousel/tracing_one_3.jpg" alt="Write number one by tracing the bumblebee" width="600" height="800">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#number" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#number" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
</div>
