<p>app-buttons works!</p>

 <div class="app-buttons">
    <button class="btn">
      <img src="../assets/img/background/background_full.jpg" alt="Image button for Letter Tracing page" width="600" height="400">
    </button>
    <button class="btn">
      <img src="../assets/img/background/background_full.jpg" alt="Image button for Number Tracing page" width="600" height="400">
    </button>
    <button class="btn">
      <img src="../assets/img/background/background_full.jpg" alt="Image button for Alphabet Learning page" width="600" height="400">
    </button>
    <button class="btn">
      <img src="../assets/img/background/background_full.jpg" alt="Image button for Letter Pairs page" width="600" height="400">
    </button>
  </div>