img {
    width: 200px;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    .letter {
        margin: 0 10px;
        img {
            width: 80px;
            cursor: pointer;
        }
    }
}

.game-block {
    width: 800px;
    height: 600px;
    background-image: url("../../assets/img/background_full.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flexbox;
}