img {
    width: 400px;
    cursor: pointer;
}

.letters {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    .letter {
        margin: 0 10px;
        img {
            width: 80px;
            cursor: pointer;
        }
    }
}

.game-block {
    width: 1200;
    height: 700px;
    padding: 120px 0;
    background-image: url("../../assets/img/background/background_full.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flexbox;
}

button {
    width: 200px;
    height: 150px;
    margin: 15px;
    text-align: center;
    font-size: 30px;
    border-radius: 12px;
    box-shadow: 2px 10px 17px  #7cadc4
}
