<div class="game-block">
  <div class="btn-back" (click)="previous()"></div>
  <div class="current-letter mx-auto d-block">
    <img src="../../assets/img/letters/{{currentLetter}}.png" alt="{{currentLetter}}" (click)="playAudio()">
  </div>
  <div class="btn-next" (click)="next()"></div>
</div>

<div class="letters img-fluid">
  <div *ngFor="let letter of letters" class="letter">
    <img src="../../assets/img/letters/{{letter}}.png" alt="{{letter}}" (click)="changeCurrentLetter(letter)">
  </div>
</div>
