<div class="app-buttons">
  <button class="btn" routerLink="/letter-tracing">
    <img src="../assets/img/background/background_full.jpg" alt="Image button for Letter Tracing page">
  </button>
  <button class="btn" routerLink="/letter-tracing">
    <img src="../assets/img/background/background_full.jpg" alt="Image button for Number Tracing page">
  </button>
  <button class="btn" routerLink="/number-tracing">
    <img src="../assets/img/background/background_full.jpg" alt="Image button for Alphabet Learning page">
  </button>
  <button class="btn" routerLink="/alphabet-learning">
    <img src="../assets/img/background/background_full.jpg" alt="Image button for Letter Pairs page">
  </button>
</div>
